/* 
AGENCY SUPPORT
================================================== */

.page-id-9903 h1.av-rotator-container-inner {
    color: white !important;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.48);
    line-height: 67px !important;
}

.page-id-9903 .taptap-menu-button-three {
    display: none;
}

#agencysupport-capabilities h2,
#agencysupport-capabilities p {
    color: white !important;
}

#agencysupport-capabilities {
    border: 3px solid black;
    border-left: none;
    border-right: none;
}

#agencysupport-capabilities .avia-builder-el-last {
    height: 600px !important;
}

#agencysupport-contact #ninja_forms_form_15 .field-wrap {
    border: 3px solid $dark-grey;
    float: left;
    height: 3.25rem;
    margin-right: 2%;
    max-height: 3.25rem;
    width: 99%;
}

#agencysupport-contact #ninja_forms_form_15 input {
    border: none !important;
}

#agencysupport-contact #ninja_forms_form_15 select {
    border: none !important;
}

#agencysupport-contact #ninja_forms_field_30_div_wrap {
    background: $dark-grey none repeat scroll 0 0 !important;
}

#agencysupport-contact #ninja_forms_form_15 #submit,
#agencysupport-contact #ninja_forms_form_15 input[type="submit"] {
    border: medium none !important;
    color: white !important;
    height: 3rem;
    line-height: 0rem;
}