/*
Portfolio-item Specific rules
================================================== */


/* PORT FONDA */

#portfondadesktop .container {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
}