/* 
THE BLOG!! 
================================================== */

#top .fullsize .template-blog .post-meta-infos {
    font-size: 1rem;
    text-align: center !important;
}

.blog-tags.minor-meta {
    font-size: 0.9rem;
}

body.page-id-8309 .container {
    max-width: 90%;
    width: 80%;
}

body#top.page-id-8309 .avia-button {
    border-color: $red;
    color: $red;
    font-family: montserrat;
    font-size: 1rem;
}

#top .fullsize .template-blog .post .entry-content-wrapper > *,
#top .fullsize .template-blog .post .entry-content-wrapper {
    max-width: 100%;
}

#top .fullsize .template-blog .post .entry-content-wrapper {
    margin: 0 auto 3rem;
}

#top .fullsize .template-blog .post .entry-content-wrapper > * {
    display: block;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

body.single-post h1 a {
    color: #222222 !important;
    font-size: 3rem;
    text-decoration: none !important;
}

#top h1 a,
#top h2 a,
#top h3 a,
#top h4 a,
#top h5 a,
#top h6 a,
a {
    opacity: 1;
}

.avia-builder-widget-area p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p#mailchimpsignup {
    margin-bottom: 0px;
}

section#text-6 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#mailchimp_social_wp-2 {
    height: 100px !important;
    margin: 0;
}

.input-sm {
    border-radius: 3px;
    font-size: 1.5rem;
    height: auto;
    line-height: 1.5;
    padding: 7px 10px;
}

.avia_transform .av-extra-border-element.border-extra-arrow-down {
    top: -3rem;
}

.socialbox-style-massive .socialbox-link {
    text-decoration: none !important;
}

.socialbox-style-massive .socialbox-icon-64 {
    background-size: 64px 768px;
    border: 3px solid #ffffff;
}

.sw-click-to-tweet {
    background-color: #fff;
    border: 3px solid black !important;
    border-radius: 0;
    display: block;
    margin: 15px 0;
    padding: 15px 30px;
    position: relative;
}

a .sw-click-to-tweet .sw-ctt-text {
    color: #242424;
    font-size: 2rem;
    font-weight: bold;
    line-height: 140%;
}

a.sw_CTT {
    display: block;
    margin: 2rem 0;
    text-decoration: none;
}

#top .flex_column .template-blog .post-title {
    color: black !important;
    font-size: 2rem;
    text-align: center !important;
}

.page-id-8309 .avia-section-large .content,
.avia-section-large .sidebar {
    padding-bottom: 50px;
    padding-top: 0;
}

.page-id-8309 h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.page-id-8309 h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase !important;
}

#top .avia-post-nav {
    display: none;
}

header.entry-content-header {
    margin-bottom: 3rem;
    overflow: visible !important;
}

.avia_desktop .av-hover-overlay-active .av-masonry-image-container {
    opacity: 0.85;
}

.single-format-standard .av-masonry-image-container {
    background-size: cover !important;
}

#commentform label {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    top: 0;
    left: 0;
}

.postid-8813 span.slabtext {
    font-family: League Gothic;
    color: black;
}

span.slabtext {
    font-family: League Gothic;
    color: black;
    text-transform: uppercase;
}

.av_font_icon {
    margin-bottom: 30px !important;
}

#binderclips img {
    width: 50%;
}

#wiggles .av-parallax {
    background-size: 11% !important;
}

.single-post .content {
    display: block;
    float: none;
    margin: 0 auto !important;
    max-width: 800px !important;
}

.single-post #bigimage .content {
    max-width: 100% !important;
}
